.navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}